* {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

button {
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #f5f5f7;
}

.app {
  max-width: 380px;
  margin: auto;
  padding: 20px;
  padding: 60px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.chart-container {
  display: flex;
  gap: 12px;
  align-items: stretch;
}

canvas {
  flex: 1;
  background: white;
  border-radius: 12px;
  padding: 10px;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 150px;
}

.side-buttons button {
  flex: 1;
  padding: 12px 8px;
  font-size: 14px;
}

.main-buttons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  justify-content: center;
}

button {
  border: none;
  border-radius: 14px;
  color: white;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.main-buttons button {
  flex: 0  0 auto;
  width: 150px;
  padding: 18px;
  font-size: 18px;
}

.earn {
  background: #2ecc71;
}

.spend {
  background: #e74c3c;
}

.reset {
  background: #f39c12;
}

.undo {
  background: #3498db;
}

.data {
  background: #7f8c8d;
}

#lastEntry {
  text-align: center;
  margin-top: 10px;
  color: #555;
}

.smallBtn {
  width: auto;
  padding: 6px 10px;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 8px;
  background: #3498db;
  color: white;
  cursor: pointer;
}